<!DOCTYPE html>

{% load static %}

<html>
    <head>
      <title>{% block title %}Tournament{% endblock %}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}" />
	  
	  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	  
	  {% block style %}
	  
	  {% endblock %}
      
    </head>
    <body>
      <header>
       
      </header>
	  
      <nav>
        {% block nav %}
			<ul class="nav nav-pills">
			  <li role="presentation" class="{% block homeclass %}{% endblock %}"><a href="{% url 'home' %}">Accueil</a></li>
			  <li role="presentation" class="{% block playersclass %}{% endblock %}"><a href="{% url 'players' %}">Joueurs</a></li>
			  <li role="presentation" class="{% block tournamentsclass %}{% endblock %}"><a href="{% url 'all' %}">Les tournois</a></li>
			  {% if request.session.isAdmin %}
				<li role="presentation" class="{% block createtournamentsclass %}{% endblock %}"><a href="{% url 'create_tournament' %}">Creer un tournoi</a></li>
			  {% endif %}
			  
			  <li role="presentation"><a href="{% url 'deconnect' %}">Deconnexion</a></li>
			</ul>
        {% endblock %}
      </nav>
      <section>
        {% block messages %}
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {% if message.tags %}
                    {% if message.tags == 'info' %}INFO - {% endif %}
                    {% if message.tags == 'debug' %}DEBUG - {% endif %}
                    {% if message.tags == 'success' %}SUCCES - {% endif %}
                    {% if message.tags == 'warning' %}AVERTISSEMENT - {% endif %}
                    {% if message.tags == 'error' %}ERREUR - {% endif %}
                  {% endif %}
                  {{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
        {% block section %}
          <p>Test</p>
        {% endblock %}
      </section>
      <footer>
        <!--{% block footer %}
          &copy; Tournament
        {% endblock %}-->
      </footer>
	  
    </body>
</html>
