{% extends "base.html" %}
{% block homeclass %} active {% endblock %}
{% block title %}Tournament - Accueil{% endblock %}
{% block section %}
<div id="presentations">
<h1>Bienvenue sur le generateur de tournoi de l'ESGI </h1>
<p>Tout groupe d'amis, toute societe ou tout BDE qui se respecte a toujours un jours ou l'autre besoin de realiser un tournoi</p>
<p>De foot, de jeux videos ou même de biere pong !</p>

<p>Sur notre site, vous pourrez renseigner autant de joueurs potentiels qu'il vous faut,puis les renseigner a l'interieur de differnets tournois.</p>

<p>Une fois que vous etes prets, plus qu'a lancer le tournoi !</p>

<p>Vient ensuite le moment pour l'administrateur du groupe de renseigner, pour chaque manche, le gaganant de chaque partie</p>

<p>Nous parlons en effet d'administrateur car un seul compte "administrateur" est genere par le site</p>

<p>Peut-etre etes vous ici avec un compte "visiteur", vous n'aurez alors qu'une "vue" sur les differents elements, sans possibilite de les modifier vous meme afin d'eviter toute triche</p>

<p> Bons tounois !</p>
</div>
{% endblock %}
